.rsc {
  flex: 0.7 1;
  display: flex;
  flex-direction: column;
}
.rsc-header {
  padding: 0 20px !important;
  background-color: #fff !important;
  border-bottom: solid 1px #f2f2f2;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  fill: rgb(255, 255, 255);
  height: 56px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: rgb(110, 72, 170);
}
.avatar-headerchat {
  width: 20px;
  height: 56px;
}
.rsc-header-title {
  color: #000 !important;
  font-size: 16px;
  margin: 0px;
}
.rsc-container {
  width: auto !important;
  border-radius: 0px !important; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 12px 24px 0px;
  font-family: monospace;
  position: relative;
  bottom: initial;
  top: initial;
  right: initial;
  left: initial;
  height: 520px;
  z-index: 999;
  transform: scale(1);
  transform-origin: right bottom;
  background: rgb(245, 248, 251);
  overflow: hidden;
  transition: transform 0.3s ease 0s;
}
.rsc-content {
  background-color: #e5ddd5;
  height: calc(408px);
  overflow-y: scroll;
  margin-top: 2px;
  padding-top: 6px;
}
.rsc-ts-bot {
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.rsc-ts-bot .rsc-ts-image-container {
  display: inline-block;
  order: 0;
  padding: 6px;
}
.rsc-ts-bot .rsc-ts-bubble {
  background: #fff !important;
  color: #000 !important;
  -webkit-animation: gZmgDU 0.3s ease forwards;
  animation: gZmgDU 0.3s ease forwards;
  border-radius: 18px 18px 18px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  display: inline-block;
  font-size: 14px;
  max-width: 50%;
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
.rsc-ts-user {
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.rsc-ts-user .rsc-ts-image-container {
  display: inline-block;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  padding: 6px;
}
.rsc-ts-user .rsc-ts-bubble {
  background: #cfe9ba !important;
  color: #000 !important;
  -webkit-animation: gZmgDU 0.3s ease forwards;
  animation: gZmgDU 0.3s ease forwards;
  border-radius: 18px 18px 0 18px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  display: inline-block;
  font-size: 14px;
  max-width: 50%;
  margin: 0 0 10px 0;
  overflow: hidden;
  position: relative;
  padding: 12px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}
.rsc-os-option-element {
  background: #cfe9ba !important;
  color: #000 !important;
}
.rsc-footer {
  position: relative;
}
.rsc-footer .rsc-input:disabled {
  background: #fff;
}
.rsc-footer .rsc-input {
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #eee;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  opacity: .5;
  outline: none;
  padding: 16px 52px 16px 10px;
  width: 100%;
  -webkit-appearance: none;
}
.rsc-footer .rsc-submit-button {
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  box-shadow: none;
  cursor: default;
  fill: #4a4a4a;
  opacity: .5;
  outline: none;
  padding: 14px 16px 12px 16px;
  position: absolute;
  right: 0;
  top: 0;
}