* {
  margin: 0;
}
a {
  text-decoration: none;
}
.app {
  background-color: #e9e9e3;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__container {
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,.3);
  display: flex;
  width: 85vw;
  height: 90vh;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .sidebar {
    flex: 1 !important;
  }
  .join, .rsc {
    position: fixed;
    right: -100%;
    width: 100%;
    transition: transform 0.4s;
    height: 100vh !important;
  }
  .is_message_open .join, .is_message_open .rsc {
    transform: translateX(-100%);
  }
  .is_sidebar_open .join, .is_sidebar_open .rsc {
    transform: translateX(0);
  }
}
@media (max-width: 567px) {
  .join, .rsc {
    top: 0;
  }
}